* text=auto

*.py  text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.md  text eol=lf
*.ps1 text eol=crlf

nfs_mw_save_editor/licenses/*.txt text eol=lf -whitespace

.gitignore text eol=lf
.gitattributes text eol=lf
